<div id="chart_div" (window:resize)="myFunction($event)">
    <mat-card class="m-3 mt-5">
        <div class="text-center h5 ">
            Let's find out when you save enough money...
        </div>


        <div class="container-12 m-2 p-0 ">
            <div class="row">
                <div class="col-lg-3 col-12 mt-2 m-0 p-0">
                    <form class="input-form  row mt-4">

                        <div class="col-12">
                            <mat-form-field appearance="legacy">
                                <mat-label>Product price</mat-label>
                                <input matInput placeholder="Product price" (click)="$event.target.select()"
                                    type="number" [(ngModel)]="CalcService.priceOfTargetNow"
                                    [ngModelOptions]="{standalone: true}" bind-value="CalcService.priceOfTargetNow"
                                    [ngClass]="{error:0>CalcService.priceOfTargetNow}"
                                    (input)="CalcService.calculate($event.target.placeholder)">
                            </mat-form-field>
                        </div>

                        <div class="col-12">
                            <mat-form-field appearance="legacy">
                                <mat-label>Price increase (YbY in %)</mat-label>
                                <input matInput placeholder="Price increase(YbY %)" (click)="$event.target.select()" type="number"
                                    [(ngModel)]="CalcService.ypYTargetInflation" [ngModelOptions]="{standalone: true}"
                                    [value]="CalcService.ypYTargetInflation"
                                    (input)="CalcService.calculate($event.target.placeholder)">
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <mat-form-field appearance="legacy">
                                <mat-label>Money you have now</mat-label>
                                <input matInput placeholder="Money you have now" (click)="$event.target.select()"
                                    type="number" [(ngModel)]="CalcService.yourWallet"
                                    [ngModelOptions]="{standalone: true}" value="{{CalcService.yourWallet}}"
                                    (input)="CalcService.calculate($event.target.placeholder)">
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <mat-form-field appearance="legacy">
                                <mat-label>Monthly saved money</mat-label>
                                <input matInput type="number" placeholder="Monthly saved money"
                                    [(ngModel)]="CalcService.monthlySavedMoney" (click)="$event.target.select()"
                                    [ngModelOptions]="{standalone: true}" value="{{CalcService.monthlySavedMoney}}"
                                    (input)="CalcService.calculate($event.target.placeholder)">
                            </mat-form-field>
                        </div>


                    </form>
                </div>
                <div class="col-lg-1 col-12 mt-4 m-0 p-0"></div>
                <div class="col-lg-8 col-12  m-0 p-0">
                    <google-chart #chart [title]="CalcService.title" [columns]="CalcService.columnNames"
                        [data]="CalcService.graphData" [type]="CalcService.type" [options]="CalcService.options"
                        style="width: 100%;  height: auto; min-height: 40vh;" id="CalcService.gchart"></google-chart>
                </div>
            </div>
            <div class="row mt-3">



                <mat-card  class="info mb-4">
                    <strong>Short summary:</strong><br/>
           
                <mat-chip-list class="m-3">
                    <mat-icon>timer</mat-icon>
                    <mat-chip color="primary" selected >
                       {{CalcService.TotalMonths | number}} months which is around
                        {{CalcService.TotalAges}} years
                    </mat-chip>
                </mat-chip-list>

                <mat-chip-list class="m-3">
                    <mat-icon>attach_money</mat-icon>
                    <mat-chip color="primary" selected >
                       Product price increases to: {{CalcService.priceOfProperty}}
                    </mat-chip>
                </mat-chip-list>
                </mat-card>
                <mat-card class="info">
                    <p><strong>Info</strong></p>
                    Crossing lines on chart show you point when you will be ready to buy the product or service. If the
                    lines are not crossing with each other it means that you will never
                    save enough money because product price is growing to fast.
                </mat-card>
            </div>

        </div>

    </mat-card>
</div>